body{
  background-image:linear-gradient(to bottom, rgba(192,192,192,0), rgba(192,192,192,1));
}
.jumbo{
  display: flex;
  justify-content: center;
  min-height: 250px;
  flex-direction:column;
  position: relative;
  margin: auto;
  background-image:url("https://source.unsplash.com/random/1600x200?sig=2");
  padding: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.text{
  background: rgba(225,225,225,0.75);
  width: 30%;
  border-radius: 10px;
  padding: 10px;
  animation: 1s ease-out 0s 1 slideInFromLeft;

}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.pro-container{
  display:flex;
  justify-content:center;
  flex-direction:column;
}
.page{
  display: flex;
  justify-content: center;
  position: relative;
  margin: 10px;
}
.box{
  min-height:450px;
  overflow: auto;
}
.view{
  margin: 10px;
  padding: 5px;
  border: 2px solid black;
  border-radius:8px;
}
.list-group-item{
  width: auto;
}
.view{
  display: flex;
  flex-direction:row;
}
.left{
  width:40%;
  height: 400px;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.right{
  width:60%;
  padding: 5px;
}
.left img{
  border: 2px solid black;
  border-radius:8px;
  height: 90%;
  width: 100%;
  margin: auto;
}
.link{
  text-decoration: none;
  color: green;
  border: 2px solid black;
  border-radius: 5px;
}
.link:hover{
  background: #c0c0c0;
  color: black;
}
.title{
  padding:10px;
  border-radius:8px;
}
.title:hover{
  background-image:linear-gradient(to left, rgba(192,192,192,0), rgba(192,192,192,1));
}
.para{
  padding:10px;
}

.page-item button{
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.page-item button:hover{
  background-color: #f7fafa;
}

.page-item button:focus {
  bordzer-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}
form{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid black;
  margin: 5px;
  border-radius: 10px;
  justify-items: center;
  width: 30%;
}
input{
  border-radius: 5px;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  border-radius: 4px;
  color: #202124;
  border: 1px solid #dadce0;
  padding: 13px 15px;
  transition: 250ms;
}
textarea{
  border-radius: 8px;
  resize: none;
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  border-radius: 4px;
  color: #202124;
  border: 1px solid #dadce0;
  padding: 13px 15px;
  transition: 250ms;
}
form label{
  padding: 13px 1px;
  box-sizing: border-box;
}
.firstlabel{
  padding-top: 0px;
}
h6{
  margin-top: 20px;
}
form button{
  width: 100px;
  margin-top: 5px;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  margin-top: 10px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;

}
section{
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}
.another{
  color: black;
  width: 70%;
  margin: 5px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.another ul{
  margin: 5px;
  list-style: none;
}
.another li{
  margin-top: 5px;
}
.another p{
  margin-top: 20px;
}
.another a{
  color: black;
  list-style: none;
  text-decoration: none;
}


@media screen and (max-width:600px){
  section{
    flex-direction: column;
  }
  form{
    width: 100%;
  }
  .another{
    width:100%;
  }
  .view{
    flex-direction: column;
  }
  .left{
    height: 30%;
    width: 100%;
  }
  .right{
    width: 100%;
  }
  .box{
    width: 100%;
    min-height: 400px;
  }
  .text{
    width: 100%;
  }
  .jumbo{
    background-image:url("https://source.unsplash.com/random/300x200?sig=2");
  }
}



