.jumbo{
  display: flex;
  justify-content: center;
  min-height: 250px;
  flex-direction:column;
  position: relative;
  margin: auto;
  background:grey;
  padding: 20px;
}
.pro-container{
  display:flex;
  justify-content:center;
  flex-direction:column;
}
.page{
  position: relative;
  margin: auto;
}
.box{
  min-height:400px;
}
.view{
  margin: 10px;
  padding: 5px;
  border: 2px solid brown;
  border-radius:8px;
}
.page-item button{
  background:white;
  color: blue;
  width:100px;
  border-radius:10px;
  padding: 5px;
  margin: 5px;
}
.page-item button:hover{
  background:yellow;
  color: green;
}
.container{
  display: flex;
  flex-direction:row;
}
.left{
  width:30%;
}
.right{
  width:70%;
}
